
body {
    background-color: #ffffcc;
    font-family: Arial, sans-serif;
    padding: 10px;
}
p
{
    font-size: normal;
}
h1 {
    background-color: darkred;
    color: #ffffcc;
    text-align: center;
    padding: 10px;
    font-size: 28px;
    font-style: italic;
    letter-spacing: 15px;
    margin: 0;
}

.bottom
{
    background-color: #cc0000;
    padding-bottom: 15px;
}

table
{
    border-width: 1px;
    border-color: black;
    background-color: lightgray;
    font-style: normal;
}
img
{
    padding :20px;
    padding-right: 60px;
    background-color: white;
    border: 2.5px dashed lightgray;
}
ul
{
    color: #980404;
    font-style: italic;
}
h2 {
    background-color: #009900;
    color: white;
    padding: 5px 10px;
    margin-top: 20px;
    font-size: 20px;
    font-style: normal;
}

a 
{
    text-decoration: none; 
    color: purple;
}
.form
{
    font-weight: 500;
    color: #a0a09d;
}
.comments
{
    font-family: 'Courier New', Courier, monospace;
    overflow-y: scroll;
    resize: none;
}
.error
{
    color: red;
}
::placeholder
{
    color: black;
}