@font-face 
{
  font-family: 'Roboto';
  src: url('webfonts/Roboto.woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body
{
    font-family:'Roboto' , sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f44f4f;
}
.card
{
    background-color: white;
    width : 449px; 
    height: 130px;
    display: flex;
    padding: 4px;
    gap: 14px;
    box-shadow: 0 2px 4px rgba(0,0,0,1);
}
.profile-pic
{
    /* margin: 3px; */
    display: flex;
}

.info 
{
    /* background-color: lightblue; */
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    gap: 24px;
    /* align-items: center; */
}

.content 
{
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.username 
{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    font-family: 'Roboto';
}

.message 
{
    font-size: 20px;
    font-weight: normal;
    color: #000000;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.stats 
{
    margin: 0;
    /* background-color: gray; */
    display: flex;
    align-items: baseline;
    gap: 24px;
}

.icons 
{
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #858991;
    gap: 14px;
}

.image 
{
    opacity: 0.6;
    width: 20px;
    height: 20px;
    /* margin-right: 6px; */
}
p
{
    margin: 0;
    padding: 0;
}
