.Container
{
    height :100vh;
    width : 100%;
    display: grid;
    grid-template-areas: 
    "H H H"
    "S C1 C1"
    "S C2 C3"
    "F F F";
    grid-template-columns: 2.15fr 3fr 3fr;
    grid-template-rows:1fr 2.5fr 2.5fr 1.25fr;
    gap:2px;
    height: 100vh;
}
.Header
{
    border: 1px solid black;
    grid-area: H;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Side-bar
{
    border: 1px solid black;
    grid-area: S;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Content-1
{
    border: 1px solid black;
    grid-area: C1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Content-2
{
    border: 1px solid black;
    grid-area: C2;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Content-3
{
    border: 1px solid black;
    grid-area: C3;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Footer
{
    border: 1px solid black;
    grid-area: F;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width : 768px)
{
    .Container
    {
        height :100vh;
        width : 100%;
        display: grid;
        grid-template-areas: 
        "S H H"
        "S C1 C1"
        "S C2 C3"
        "S F F";
        grid-template-columns: 2.15fr 3fr 3fr;
        grid-template-rows:1fr 2.5fr 2.5fr 1.25fr;
        gap:2px;
        height: 100vh;
    }
    
}
/* @media screen and (max-width : 768px) */
@media screen and (max-width : 425px)
 {
    .Container
    {
        justify-content: center;
        height :100vh;
        width : 100%;
        display: grid;
        grid-template-areas: 
        "H H H H"
        "C1 C1 C1 C1"
        "C2 C2 C3 C3"
        "F F F F";
        grid-template-columns: 2.15fr 3fr 3fr 2.5fr;
        grid-template-rows:0.5fr 1.5fr 1.5fr 0.75fr;
        gap:2px;
        /* height: 100vh; */
    }
    .Side-bar
    {
        display: none;
    }
 }

